<section class="contact-section">
  <div class="contact-container">
    <!-- Left Side: Contact Info -->
    <div class="contact-info">
      <h2>Contact Me</h2>
      <p>
        I'd love to hear from you! Whether it's a question, a project collaboration, or just a hello, feel free to get in touch.
      </p>
      <ul class="info-list">
        <li><i class="fas fa-envelope"></i> <a href="mailto:vm@hawk.iit.edu">vm&#64;hawk.iit.edu</a></li>
        <li><i class="fas fa-phone"></i> <a href="tel:+18722588900">+1 (872)-258-8900</a></li>
      </ul>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/vismayam/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/VismayaMohanram" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://instagram.com/your_instagram_handle" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/your_twitter_handle" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </div>

    <!-- Right Side: Contact Form -->
    <div class="contact-form-container">
      <form class="contact-form" (ngSubmit)="submitForm()" #contactForm="ngForm">
        <h2>Send a Message</h2>
        <div class="form-group">
          <input
            type="text"
            name="name"
            [(ngModel)]="formData.name"
            required
            placeholder="Your Name"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            name="email"
            [(ngModel)]="formData.email"
            required
            placeholder="Your Email"
          />
        </div>
        <div class="form-group">
          <textarea
            name="message"
            [(ngModel)]="formData.message"
            required
            placeholder="Your Message"
          ></textarea>
        </div>
        <button type="submit" class="btn-submit">Send</button>
      </form>
    </div>
  </div>
</section>
