<section class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">Hi, I'm <span class="highlight">Vismaya Mohanram</span></h1>
    <h2 class="hero-subtitle"><span id="typing-text"></span></h2>
    <p class="hero-description">
      Passionate about crafting impactful solutions in Machine Learning, Big Data, and Cloud Technologies.
    </p>
    <div class="hero-buttons">
      <button (click)="navigateToContact()" class="btn">
        <i class="fas fa-envelope"></i> Contact Me
      </button>
      <a href="../../../assets/images/VismayaMohanram_Resume.pdf" target="_blank" class="btn">
        <i class="fas fa-download"></i> View Resume
      </a>
    </div>
  </div>
  <canvas id="particle-canvas"></canvas>
</section>
