<section class="experience-section">
  <div class="experience-timeline">
    <!-- Connecting Line -->
    <div class="timeline-line"></div>

    <!-- Experience 1 -->
    <div class="experience-item">
      <div class="company-logo">
        <img src="../../../assets/images/Swiss_Re.png" alt="Swiss Re Logo">
      </div>
      <div class="experience-content left">
        <div class="text-content">
          <h3>Swiss Re</h3>
          <p class="experience-duration">June 2020 - Aug 2022</p>
          <h4>Data Engineer</h4>
          <ul>
            <li>Orchestrated the migration of 10TB+ data to Azure Data Lake, reducing retrieval times by 30%.</li>
            <li>Automated ETL processes using Azure Data Factory pipelines, reducing data processing time by 60%.</li>
            <li>Enhanced Databricks pipelines to support real-time analytics and critical business insights.</li>
            <li>Migrated and optimized datasets on Teradata and Snowflake platforms for seamless access.</li>
            <li>Implemented CI/CD pipelines for Python, increasing efficiency by 35% and saving hours monthly.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Experience 2 -->
    <div class="experience-item">
      <div class="company-logo">
        <img src="../../../assets/images/Swiss_Re.png" alt="Swiss Re Logo">
      </div>
      <div class="experience-content right">
        <div class="text-content">
          <h3>Swiss Re</h3>
          <p class="experience-duration">July 2018 - June 2020</p>
          <h4>Data Analyst</h4>
          <ul>
            <li>Refined master data processes, enhancing reporting accuracy across 10+ business functions.</li>
            <li>Developed real-time ETL pipelines using Apache Kafka and Spark, processing 5M+ records daily.</li>
            <li>Optimized workflows with SSIS, increasing data integration efficiency by 40%.</li>
            <li>Built Power BI dashboards visualizing 20+ KPIs, enabling actionable insights for management.</li>
            <li>Applied advanced SQL for data modeling, reducing query execution times by 35%.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>